@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color:rgb(211, 128, 19);
  
  color: black;

.header-buttons{
  padding: 10px;;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-left: 10px;
  gap: 30px;
  color: white;
  
}
}

.footer{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:rgb(211, 128, 19);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}